/*
SARAH'S CAKE SHOP
Global Stylesheet

Kyle Lehmann
lehmannkylej@gmail.com
Created: 4-23-2018
*/

/* GLOBAL FONTS */
@import url('https://fonts.googleapis.com/css?family=Quattrocento|Oswald');
:root {
  --serif: 'Quattrocento', serif;
  --sans-serif: 'Oswald', sans-serif;
}

/* GLOBAL COLORS */
:root {
  --pink-lt: #FFE1EB;
  --pink-md: #E3B5D4;
  --pink-dk: #CC5987;
  --gray-lt: #C8CFD7;
  --gray-dk: #687D8C;
  --gray-banner: #313131;
}

/* REMOVE BROWSER FOCUS */
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/*
===============
NAVBAR & HEADER
===============
*/
header img {
  height: 100px;
  margin: 6px auto;
  display: block;
}

nav {
  font-family: var(--sans-serif);
  font-size: 18px;
}
.nav-pills>li+li {
  margin-left: 12px;
}
.nav-link {
  padding: .5rem;
}
.navbar-toggler {
  padding: 0.25rem 0;
  border: none;
}

.dropdown-menu {
  border: none;
  text-align: center;
}
.dropdown-toggle {
  text-transform: uppercase;
}

.dropdown-item {
  padding: .25rem;
}

.dropdown-item-text {
  display: block;
  padding: .1rem 1.5rem .5rem;
  margin-bottom: 0;
  font-size: 0.875rem;
  line-height: 1;
  color: var(--pink-dk);
  white-space: nowrap;
}
