./*
SARAH'S CAKE SHOP
Contact Form Stylesheet

Kyle Lehmann
lehmannkylej@gmail.com
Created: 4-28-2018

Filename: form.css
SUPPORTING FILES
    CSS: resources.css

Last Edited: 4-27-2018
*/
@import "resources.css";

/* FORM & CARD STYLES */
.card {
 text-align: left;
 -webkit-touch-callout: none; /* iOS Safari */
 -webkit-user-select: none; /* Safari */
 -khtml-user-select: none; /* Konqueror HTML */
 -moz-user-select: none; /* Firefox */
 -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
 supported by Chrome and Opera */
}

.submit {
  text-align: center;
}
input[type=submit] {
  margin-left: 0.25em;
}

/* LABEL & TITLE STYLES */
form p {
  font-size: 1em; /* 14/16 */
  width: 100%;
  text-align: center;
  padding: .25em 0 1.25em;

}

label {
  display: inline-block;
  font-size: 1em; /* 16/16 */
  font-family: var(--serif);
  font-weight: bold;
}

#subject label:not(:first-of-type) {
  margin-top: 1.25em;
}

#subject label:last-of-type {
  margin-bottom: 0.5em;
}

label .subreason {
  display: block;
  margin: 0.1em 0;
  padding-left: 2.125em;
  color: var(--pink-dk);
  font-size: .8em;
  text-transform: uppercase;
}

section {
  padding-bottom: .5em;
}

/* TEXT INPUT STYLES */
input[type=text],
input[type=tel],
input[type=email],
input[type=date],
textarea {
  box-sizing : border-box;
  margin: 0.25em 0 1em;
  padding: .5em 0 .5em .5em; /* 18/16 */ /* 6/16 */
  border-radius: 0.25em; /* 4/16 */
  border: 0.125em solid var(--gray-lt); /* 2/16 */
  background-color: #fff;
  color: #000;
  font-family: var(--sans-serif);
  font-size: 1em; /* 16/16 */
}

input[type=text],
input[type=tel],
input[type=email],
textarea {
  box-sizing : border-box;
  width: 100%;
}

input[type=email]:last-of-type {
  margin-bottom: 0.5em;
}

input::placeholder,
textarea::placeholder {
  color: var(--gray-dk);
}

input:placeholder-shown,
textarea:placeholder-shown {
  background-color: var(--gray-lt);
}

input[type=text]:focus,
input[type=tel]:focus,
input[type=email]:focus,
input[type=date]:focus,
textarea:focus {
  background-color: #fff;
  border-color: var(--pink-md);
}

input[type=text]:focus::placeholder,
input[type=tel]:focus::placeholder,
input[type=email]:focus::placeholder,
input[type=date]:focus::placeholder,
textarea:focus::placeholder {
  color: var(--gray-lt);
}


input[type=text]:hover:not(:focus),
input[type=tel]:hover:not(:focus),
input[type=email]:hover:not(:focus),
input[type=date]:hover:not(:focus),
textarea:hover:not(:focus) {
  background-color: var(--pink-lt);
  border-color: var(--pink-lt);
}

input[type=text]:hover:not(:focus)::placeholder,
input[type=tel]:hover:not(:focus)::placeholder,
input[type=email]:hover:not(:focus)::placeholder,
input[type=date]:hover:not(:focus),
textarea:hover:not(:focus)::placeholder {
  color: var(--pink-dk);
}

input[type=date] {
  text-transform: uppercase;
}

input[type=date]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  display: none;
}

input[type=date]::-webkit-calendar-picker-indicator {
  margin-right: .25em;
  color: var(--pink-dk);
  background: none;
}

input[type=date]::-webkit-calendar-picker-indicator:hover {
  background: none;
}

/* RADIO INPUT STYLES */
#subject input {
  -webkit-appearance: none;
	background-color: #fff;
	border: 0.125em solid var(--pink-dk); /* 2/16 */
  height: 1.125em; /* 18/16 */
  width: 1.125em; /* 18/16 */
	border-radius: 50%;
	display: inline-block;
	vertical-align: middle;
  margin-top: -0.25em; /* 4/16 */
}

#subject input:hover {
  background-color: var(--pink-md);
}

#subject input:checked {
  background-color: var(--pink-dk);
  box-shadow: inset 0 0 0 0.125em #fff;
}

/* ADDITONAL INFO STYLES */
#moreInfo {
  display: none;
}

#cakeFormhead {
  display: none;
  margin-bottom: 0;
}

#shopFormhead {
  display: none;
  margin-bottom: 0;
}

#weddingFormhead {
  display: none;
  margin-bottom: 0;
}

#donateFormhead {
  display: none;
  margin-bottom: 0;
}

#otherFormhead {
  display: none;
  margin-bottom: 0;
}

#date {
  display: none;
}

#event {
  display: none;
}

#servings {
  display: none;
}

#items {
  display: none;
}


#addInfo {
  display: none;
}

#orgName {
  display: none;
}

#descrip {
  display: none;
}
