/*
SARAH'S CAKE SHOP
Cake Shop Pages Stylesheet

Kyle Lehmann
lehmannkylej@gmail.com
Created: 4-23-2018
*/

/*
===============
NAVBAR & HEADER
===============
*/

/* NAVBAR */
.navbar-light {
  background-color: var(--pink-lt);
}

.navbar-light .navbar-nav .nav-link,
.navbar-light a {
  color: #000;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #000;
  background-color: #fff;
}
.nav-link:hover {
  color: var(--pink-dk);
}
.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.navbar-light .navbar-toggler-icon:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(204, 89, 135, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.navbar-light .navbar-toggler-icon:hover::after {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* NAV DROPDOWN */
.navbar .dropdown .dropdown-item:hover:not(.active) {
    color: var(--pink-dk);
    background-color: var(--pink-lt);
}
.navbar .dropdown .active {
  background-color: var(--pink-dk);
}
